.experience {
    max-width: 75vw;
    margin-left: 20vw;
}
.experienceBox {
    border-radius: 50px;
}

.fullstack {
    max-height: 50vh;
    max-width: 25vw;
}


@media only screen and (max-width: 600px) {
   .experience {
    margin-left: 0vw;
   }
   .fullstack {
    max-width: 50vw;
   }
  }