.home {
  width: 100%;
  /* align-items: center; */
  /* font-family: "Arial", sans-serif; */
  color: #3e497a;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainContainer {
  margin-top: 10vh;
  margin-left: 30vh;
  width: 80vw;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: row;
  
  
}



.profilePic {
  border-radius: 50px;
  height: 60vh;
  border: 2px solid rgb(135, 82, 82);
  flex: 0 0 auto;
  margin-right: 20px;
  float: left;
  box-shadow: 4px 4px 8px 4px rgba(168, 128, 128, 0.3);
}

.homeAbout {
  /* flex: 1 1 auto; */
  text-align: left;
  margin-right: 20%;
  color: #d8a2a2;

  margin-bottom: 55px;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family:  "Copperplate", Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 
  font-size: 30px;
}
.about-and-pic{
  background-color: rgba(103, 62, 166, 0.1);
  box-shadow: 4px 4px 8px 4px rgba(168, 128, 128, 0.3);
}
.tech {
  color: #f0f0f0;
  width: 75%;
  margin: 5px;
  margin-right: -5%;
}
.divider {
  width: 75%;
  color: white;
  height: 2px;
}
.tech {
  /* background-color: rgba(103, 62, 166, 0.1);
  box-shadow: 4px 4px 8px 4px rgba(168, 128, 128, 0.3); */
}
.techIntro {
  text-align: left;
  color: #d8a2a2;

}
.language-icon{
  font-size: 10px;
}

.homeButtons {
  display: flex;
  justify-self: space-between;
  gap: 50px;
  margin-top: 15px;
  
  /* background-color: rgba(103, 62, 166, 0.1);
  box-shadow: 4px 4px 8px 4px rgba(168, 128, 128, 0.3); */
}
.button{
/* background-color: rgba(103, 62, 166, 0.1); */
  box-shadow: 4px 4px 8px 4px rgba(234, 238, 111, 0.5);
 
}
.button-text {
  font-style: italic;
  /* color: rgb(255, 255, 255); */
  color: #d8a2a2;
}

@media only screen and (max-width: 600px) {
  .mainContainer {
    flex-direction: column;
    margin-left: 1vw;
   
  }
  /* .about-and-pic{
    background-color: rgba(103, 62, 166, 0.1);
    box-shadow: -4px 4px 8px 4px rgba(168, 128, 128, 0.3);
  } */
  /* .scroll {
    overflow: scroll;
  } */
  .profilePic {
    float: none;
  }
  
  .homeAbout {
  overflow: scroll;
  max-height: 50vh;
    
    }
  .homeButtons{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .button {
    width: 50vw;
  }
  .tech {
    margin-left: -20vw;
  }
}



