.home {
  width: 100%;
  /* align-items: center; */
  font-family: "Arial", sans-serif;
  color: #3e497a;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainContainer {
  margin-top: 10vh;
  margin-left: 30vh;
  width: 80vw;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: row;
  
}



.profilePic {
  border-radius: 50px;
  height: 60vh;
  border: 2px solid white;
  flex: 0 0 auto;
  margin-right: 20px;
  float: left;
}

.homeAbout {
  /* flex: 1 1 auto; */
  text-align: left;
  margin-right: 20%;
  color: #f0f0f0;

  margin-bottom: 55px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
}
.tech {
  color: #f0f0f0;
  width: 75%;
  margin: 5px;
  margin-right: -5%;
}
.divider {
  width: 75%;
  color: white;
  height: 2px;
}
.tech {
}
.techIntro {
  text-align: left;
}

.homeButtons {
  display: flex;
  justify-self: space-between;
  gap: 50px;
  margin-top: 15px;
  color: #81567a;
}
.button-text {
  font-style: italic;
  color: rgb(255, 255, 255);
}

@media only screen and (max-width: 600px) {
  .mainContainer {
    flex-direction: column;
    margin-left: 1vw;
  }
  /* .scroll {
    overflow: scroll;
  } */
  .profilePic {
    float: none;
  }
  .homeAbout {
  overflow: scroll;
  max-height: 50vh;
    
    }
  .homeButtons{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .button {
    width: 50vw;
  }
  .tech {
    margin-left: -20vw;
  }
}



