
#projectsPage {
    display: flex;
    flex-direction: column;

/* margin-left: 12vw; */
    gap: 5vh;
 
    /* width: 75%; */
    
    

}

.pageTitle {

    color: #d8a2a2;

    font-size: 100px;
    text-decoration: underline;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 50vh;
    
}
.projectsPageTitle {

    color: #d8a2a2;
    font-size: 60px;
    text-decoration: underline;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
   
    align-self: center;
}
.mainProjectContainer {
    display: flex;
flex-direction: column;
    /* width: 80vw; */
    /* flex-wrap: wrap;
    gap: 60px; */

    margin-top: -50px;
  align-items: center;

  align-self: center;
    justify-content: space-around;

width: 75vw;
  gap: 60px;
    
}

.projectContainer {
    display: flex;
 
    flex-direction: column;
    /* align-items: center; */
    /* align-content: center; */
    /* max-width: 25vw; */
    gap: 10px;

    overflow: hidden;
    /* animation: slideInAnimation 1s forwards; */
width: 1000px;
  
}

.inner-project-container{
    display: flex;
    flex-direction: row;
align-items: center;

    float: left;
}

@keyframes slideInAnimation {
    0% {
      transform: translateY(200%);
    }
    100% {
      transform: translateX(0);
    }
  }


.name{
    /* color: white; */
    color: #d8a2a2;
    font-size: 40px;
    font-weight: bold;
}
.description {
    /* color: white; */
    color: #d8a2a2;
    font-size: 20px;
    min-height: 7vh;
}

.projectPic {
    height: 40vh;

    border-radius: 25px;
    /* max-width: 25vw; */
  float: right
}
.projectAbout {
    /* overflow: auto;
    width: 100%;
    max-width: 25vw; */

  
    color: #d8a2a2;
   /* color: white; */
/* background-color: rgba(0, 0, 0, 0.4); */
  
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
}
.buttons {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-top: 0;
    margin-left: -1vw;
  position: sticky;

}

/* @media only screen and (max-width: 600px) {
    .mainProjectContainer {

        
       margin-left: 0;
       align-self: start;

    }
    #projectsPage {
        margin-left: 15vw;
    }
    .pageTitle {
      font-size: 7vh;
     
    }
    .projectsPageTitle {
        font-size: 7vh;
       margin-left: -20vw;
      }
    
    .projectContainer {
        min-width: 80vw;
    }
    .projectAbout {
        overflow: auto;
        width: 100%;
        min-width: 50vw;
        max-height: 10vh;
       

      margin-left: 0px;
        margin-bottom: 5px;
        color: white;
    }
    .buttons{
        display: flex;
        flex-direction: column;
    }
  } */