
/* #projectsPage {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    gap: 5vh;
    border: 5px solid green
} */
#projectsPage {
    display: flex;
    flex-direction: column;
    /* margin-left: 100px; */
margin-left: 12vw;
    gap: 5vh;
 
    width: 75%;
    
}

.pageTitle {
    color: white;
    font-size: 60px;
    text-decoration: underline;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 50vh;
    
}
.projectsPageTitle {
    /* color: white; */
    color: #d8a2a2;
    font-size: 60px;
    text-decoration: underline;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    /* margin-left: 8vw; */
    align-self: center;
}
.mainProjectContainer {
    display: flex;
    /* width: 100%; */
    width: 75%;
    flex-wrap: wrap;
    gap: 60px;
    /* margin-left: 125px; */
    margin-top: -50px;
  
    /* margin-left: 15vw; */
    align-self: center;
    justify-content: space-around;

    
}

.projectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    max-width: 25vw;
    gap: 10px;
  
}
.name{
    /* color: white; */
    color: #d8a2a2;
    font-size: 40px;
    font-weight: bold;
}
.description {
    /* color: white; */
    color: #d8a2a2;
    font-size: 20px;
    min-height: 7vh;
}

.projectPic {
    height: 30vh;
    border-radius: 25px;
    max-width: 25vw;
  
}
.projectAbout {
    overflow: auto;
    width: 100%;
    max-width: 25vw;
    max-height: 10vh;
    /* color: white; */
    color: #d8a2a2;
   
    /* text-align: center; */
  
    margin-bottom: 5px;
}
.buttons {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-top: 0;
    margin-left: -1vw;
}

@media only screen and (max-width: 600px) {
    .mainProjectContainer {
        /* margin-left: -45vw; */
        
       margin-left: 0;
       align-self: start;
       /* justify-content: space-between; */
    }
    #projectsPage {
        margin-left: 15vw;
    }
    .pageTitle {
      font-size: 7vh;
     
    }
    .projectsPageTitle {
        font-size: 7vh;
       margin-left: -20vw;
      }
    
    .projectContainer {
        min-width: 50vw;
    }
    .projectAbout {
        overflow: auto;
        width: 100%;
        min-width: 50vw;
        max-height: 10vh;
       
        /* text-align: center; */
      margin-left: 0px;
        margin-bottom: 5px;
        color: white;
    }
    .buttons{
        display: flex;
        flex-direction: column;
    }
  }