

.sideBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #d8a2a2;
  width: 10%;
  height: 100vh;
  margin-top: 10vh;
  position: fixed;
  left: -1vw;

}


.list {
  font-size: 100px;
}
.socialMedia{
background-color: rgba(255, 0, 0, 0.2);
 border-radius: 10px;

}
.socialMedia svg {
  color: #d8a2a2;

  font-size: 50px;
  cursor: pointer;
  background-color: rgba(103, 62, 166, 0.1);
  box-shadow: 4px 4px 8px 4px rgb(191, 161, 188);

}
 

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.sideBar p {
  color: #d8a2a2;
}

/* @media only screen and (max-width: 600px) {
  .sideBar {
    margin-left: 75vw;
  }
  .sideBar svg {
    font-size: 50px;
    width: 50px;
  }
} */

@media only screen and (max-width: 450px) {

  .socialMedia {
 background-color: rgba(255, 0, 0, 0.2);
 border-radius: 10px;
  }
 
}
