.sideBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #d8a2a2;

  width: 10%;
  height: 100vh;
  margin-top: -10vh;
  position: fixed;
  animation: pulse 5s;
}

.list {
  font-size: 100px;
}

.socialMedia svg {
  color: #d8a2a2;
  margin: 20px;
  font-size: 50px;
  cursor: pointer;
  background-color: rgba(103, 62, 166, 0.1);
  /* box-shadow: 4px 4px 8px 4px rgba(234, 238, 111, 0.5); */
  /* box-shadow: 4px 4px 8px 4px rgb(71, 66, 87); */

  box-shadow: 4px 4px 8px 4px rgb(191, 161, 188);
  animation: pulse 5s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.sideBar p {
  color: #d8a2a2;
}

@media only screen and (max-width: 600px) {
  .sideBar {
    margin-left: 75vw;
  }
  .sideBar svg {
    font-size: 50px;
    width: 50px;
  }
}
