/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


/* body {
   width: 100%;
   background-size: cover;
  } */
/* #body {
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);

} */




nav a {
  /* display: inline-block;
  margin: 1em;
  padding: 4px 2px;
  transition: 0.3s; */
  color: whitesmoke;
  display: inline-block;
  position: relative;
  text-decoration: none;
  margin: 1em;
  padding: 4px 4px;
 
}

nav a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: whitesmoke;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
  display: inline-block;
}

nav a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
  /* margin: 1em; */
  display: inline-block;

}



.App {
  
  background-color:#81567a;
  text-align: center;
}

body{
   padding: 0;
   margin: 0;
   background-color:#81567a;
 
}

#navbarBox {
  display: flex-end;
  justify-content: space-between;
  background-color:#81567a;
  margin-top: 0;
  min-height: 8vh;
   /* position: fixed;  */
   width: 100vw;
  /* border: 2px solid red; */
  z-index: 1
}



#main{
margin-top: 0vh;
  border: 2px solid #81567a;
  background-color:#81567a;
  /* height: 100vh; */
  
}
#mainContent {
  margin-top: 20vh;
  margin-left: 30vh;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: row;
}

#profilePic {
  border-radius: 50px;
  height: 50vh;
 
}


@media screen and (max-width: 900px){
  #navbarBox{
    display:flex;
    flex-direction: column;
    justify-content: center;
  }
  #navbar-right {
    display:flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }
}